
body {
    background: url(../images/back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: grey;
}
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

a.resetbtn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 30px;
    border: none;
    cursor: pointer;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background: #fff;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

.sign-up {
    width: 30%;
    float: left;
    position: fixed;
    top: 100px;
    left: 100px;
}

.login-form {
    width: 30%;
    position: fixed;
    right: 100px;
    top: 100px;
}
.qrcode {
    margin-left: 119px;
}

.sig{
    background: #ff0000;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #fff;

}

.log{
    background: #ff0000;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

*{
    margin: 0;
    padding: 0;
    font-family: verdana;
}

#main{
    width: 100%;
    height: 100vh;
    background: url(back.jpg);
    background-size: cover;
}

nav{
    width: 100%;
    height: 80px;
    background-color: #003;
    color: white;
    opacity: .5;
    line-height: 80px;
}
nav ul{
    float: right;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul li:hover{
    background-color: #f39d1a;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
}
